<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>showmyip</string>
	<key>CFBundleExecutable</key>
	<string>showmyip</string>
	<key>CFBundleIconFile</key>
	<string>generated-8d331209cffb01814e68ce4053aa342070d82e27ed54e0a752cd4018feb1ce1c.icns</string>
	<key>CFBundleIdentifier</key>
	<string>showmyip</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>showmyip</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
